body {
  margin: 0;
  padding: 0;
}

.main {
  -border: 1px solid red;
  height: 665px;
  background-image: linear-gradient(
      rgba(103, 100, 100, 0.4),
      rgba(103, 100, 100, 0.4)
    ),
    url(/images/n1.jpg);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  width: 100%;
  background-size: cover;
}

header {
  -border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.logo {
  -border: 1px solid red;
  width: 20%;
}

.logo img {
  -border: 1px solid red;
  width: 60px;
  height: auto;
  position: relative;
  top: 5px;
  left: 20px;
}

.menu {
  -border: 1px solid red;
  height: fit-content;
  width: 50%;
}

.menu ul {
  display: flex;
  list-style: none;
  -border: 1px solid;
  margin: 0;
  padding: 0;
  float: right;
  list-style: none;
  box-sizing: border-box;
}

.menu ul li {
  -border: 1px solid red;
  -padding: 10px;
  -margin: 10px;
  box-sizing: border-box;
}

.menu ul li a {
  text-decoration: none;
  margin: 10px;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  color: #f6f8f5;
  font-size: 16px;
  font-weight: 400;
}

.menu_menu {
  -border: 1px solid red;
  height: fit-content;
  background-color: white;
  display: none;
}

.menu_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu_menu ul li {
  border-bottom: 1px solid silver;
  padding: 10px;
}

.menu_menu ul li a {
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  margin: 10px;
  color: rgba(0, 0, 0, 0.588);
  font-size: 16px;
}

.menu_menu ul li a:hover {
  color: #f8d937;
}

.fa-bars {
  -border: 1px solid red;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffd936;
  text-align: center;
  display: none;
  font-size: 20px;
  color: white;
}

.btn button {
  border: 1px solid #f6f8f5;
  height: fit-content;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background: rgba(0, 0, 0, 0);
  color: #f6f8f5;
  position: relative;
  -top: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.one {
  -border: 1px solid red;
  width: fit-content;
  font-size: 30px;
  font-family: inherit;
  letter-spacing: -2px;
  color: white;
  line-height: 1.4em;
  position: relative;
  left: 600px;
  top: 100px;
}

.two {
  -border: 1px solid red;
  width: fit-content;
  font-size: 117px;
  color: white;
  position: relative;
  left: 500px;
  top: -30px;
  font-family: inherit;
}

.paregraph-1 {
  -border: 1px solid red;
  width: fit-content;
  color: white;
  font-family: inherit;
  position: relative;
  left: 530px;
  top: -130px;
  width: 20%;
  text-align: center;
  line-height: 24px;
}

.btn1 {
  border: none;
  width: 155px;
  height: 48px;
  font-size: 14px;
  font-family: inherit;
  background-color: #ffd936;
  border-radius: 4px;
  position: relative;
  left: 590px;
  top: -120px;
  transition: 1s;
  color: #536942;
  cursor: pointer;
}

.btn1:hover {
  background-color: #dab200;
  transition: 1s;
  color: #536942;
}

.main2 {
  -border: 1px solid red;
  height: 900px;
  background-color: #ffffff;
}

.head_ {
  -border: 1px solid red;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  top: 50px;
}

.heading {
  -border: 1px solid red;
  text-align: center;
  font-size: 40px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  position: relative;
  -top: 20px;
}

.line1 {
  border: 2px solid #f8d937;
  width: 8%;
  position: relative;
  -top: 20px;
}

.content {
  -border: 1px solid green;
  height: fit-content;
  position: relative;
  top: 80px;
}

.content_ {
  -border: 1px solid blueviolet;
  height: fit-content;
  width: 90%;
  position: relative;
  left: 80px;
  display: flex;
  justify-content: space-evenly;
}

.image1 {
  -border: 1px solid red;
  height: fit-content;
  width: fit-content;
}

.img_ {
  -border: 1px solid red;
  background-image: url(/images/n2.jpg);
  height: 445px;
  width: 330px;
}

.img_1 {
  -border: 1px solid red;
  background-image: url(/images/n3.jpg);
  height: 445px;
  width: 330px;
}

.img_2 {
  -border: 1px solid red;
  background-image: url(/images/n4.jpg);
  height: 445px;
  width: 330px;
}

.content_1 {
  -border: 1px solid;
  width: 330px;
}

.head3 {
  -border: 1px solid red;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  line-height: 1.3em;
  color: #536942;
  width: fit-content;
  position: relative;
  top: 8px;
}

.paregraph_ p {
  -border: 1px solid red;
  width: 90%;
  font-family: "DM Sans", sans-serif;
  line-height: 1.7em;
  color: #526840bf;
}

.main3 {
  -border: 1px solid red;
  height: 455px;
  background-color: #f6f8f5;
}

.box2 {
  -border: 1px solid red;
  height: 100%;
  width: 55%;
  position: relative;
  left: 300px;
}

.logo_ img {
  -border: 1px solid red;
  color: rgba(82, 104, 64, 0.75);
  width: 37px;
  opacity: 0.3;
  padding: 2px;
  position: relative;
  left: 50%;
  top: 60px;
  height: 30.56px;
  width: 37px;
}

.paregraph-4 {
  -border: 1px solid red;
  width: 100%;
  text-align: center;
  font-size: 35px;
  color: #536942;
  position: relative;
  top: 95px;
  font-weight: 400;
  font-family: "Forum", display;
}

.logo_1 img {
  -border: 1px solid red;
  height: 50px;
  width: 50px;
  position: relative;
  left: 50%;
  top: 140px;
}

.name {
  -border: 1px solid red;
  width: fit-content;
  position: relative;
  left: 49%;
  top: 130px;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
}

.main4 {
  -border: 1px solid red;
  height: 641px;
  background-color: #ffffff;
  display: flex;
}

.box3 {
  -border: 1px solid red;
  width: 50%;
  box-sizing: border-box;
}

.content1 {
  -border: 1px solid red;
  height: 70%;
  width: 75%;
  margin-top: 100px;
  margin-left: 100px;
}

.about {
  -border: 1px solid red;
  width: fit-content;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  color: #536941b3;
}

.paregraph-5 {
  -border: 1px solid red;
  font-size: 40px;
  color: #536942;
  font-family: "Forum", display;
  width: 100%;
  margin-top: -1px;
}

.paregraph-6 {
  -border: 1px solid red;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  color: #536941cc;
  line-height: 26px;
  width: 77%;
}

.btn2 {
  border: 1px solid #000;
  width: 173px;
  height: 49px;
  font-size: 15px;
  font-weight: normal;
  background-color: #ffffff00;
  border-radius: 4px;
  font-family: "DM Sans", sans-serif;
  transition: 1s;
  position: relative;
  top: 30px;
  cursor: pointer;
}

.btn2:hover {
  border: 1px solid #9fce02;
  color: #9fce02;
  transition: 1s;
  position: relative;
  top: 30px;
}

.box4 {
  -border: 1px solid red;
  width: 50%;
}

.image4 img {
  -border: 1px solid red;
  height: 489px;
  width: 404px;
  border-radius: 2px;
  position: relative;
  left: 100px;
  top: 70px;
}

.main5 {
  -border: 1px solid red;
  height: 480px;
  background-image: url(/images/n6.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 100%;
}

.head {
  -border: 1px solid red;
  width: 100%;
  font-size: 58px;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  letter-spacing: -2px;
  font-weight: 400;
  margin-top: 120px;
}

.paregraph-7 {
  -border: 1px solid red;
  width: 27%;
  text-align: center;
  font-size: 17px;
  color: #526840bf;
  line-height: 32px;
  position: relative;
  left: 500px;
  top: -10px;
}

.btn3 {
  border: none;
  width: 170px;
  height: 48px;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  background-color: #ffd936;
  border-radius: 4px;
  color: #536942;
  transition: 1s;
  position: relative;
  left: 600px;
  top: 20px;
}

.btn3:hover {
  background-color: #dab200;
  transition: 1s;
  color: #536942;
}

.footer {
  -border: 1px solid red;
  -height: 100px;
  display: flex;
  justify-content: space-around;
}

.menu_1 {
  -border: 1px solid red;
}

.menu_1 ul {
  -border: 1px solid red;
  list-style: none;
  position: relative;
  padding-left: 0;
  display: flex;
  box-sizing: border-box;
}

.menu_1 ul li {
  -border: 1px solid red;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

.menu_1 ul li a {
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  color: #536942;
  font-size: 16px;
}

.logo_2 img {
  -border: 1px solid red;
  height: 50.22px;
  width: 60px;
  position: relative;
  top: 20px;
  left: -60px;
}

.Nature p {
  -border: 1px solid red;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  color: #536942;
  position: relative;
  top: 20px;
  line-height: 1.7rem;
}

/* MediaQuery */

@media (max-width: 575px) {
  .main {
    -border: 1px solid red;
    height: auto;
    width: 100%;
    background-size: 100% 100%;
  }
  header {
    -border: 1px solid red;
    justify-content: space-between;
  }

  .menu,
  .btn {
    display: none;
  }

  .logo {
    position: relative;
    left: 10px;
  }

  .fa-bars {
    display: block;
    position: relative;
    right: 30px;
  }

  .one {
    -border: 1px solid red;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    font-size: 44px;
    font-weight: 400;
    letter-spacing: -3px;
    line-height: 1.4em;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .two {
    -border: 1px solid red;
    width: 100%;
    position: relative;
    left: 0;
    top: -80px;
    text-align: center;
    font-size: 72px;
    font-weight: 400;
  }

  .paregraph-1 {
    -border: 1px solid red;
    position: relative;
    left: 150px;
    top: -130px;
    width: 50%;
  }

  .btn1 {
    position: relative;
    left: 220px;
  }

  .btn1:hover {
    position: relative;
    left: 220px;
  }

  .main2 {
    border: 1px solid;
    height: auto;
  }

  .head_ {
    -border: 1px solid red;
    width: 100%;
  }

  .head3 {
    font-size: 34px;
  }

  .line1 {
    width: 20%;
  }

  .content {
    border: 1px solid red;
    height: auto;
  }

  .content_ {
    border: 1px solid blueviolet;
    display: block;
    height: auto;
  }

  .image1{
    border: 1px solid red;
    width: 575px;
  }

  .img_ {
    width: 525px;
    vertical-align: middle;
    display: inline-block;
    height: 710px;
    background-repeat: no-repeat;
  }

  .main3 {
    -border: 1px solid red;
    height: 380px;
  }

  .box2 {
    -border: 1px solid red;
    position: relative;
    left: 0;
    width: 100%;
  }

  .logo_ img {
    -border: 1px solid red;
    position: relative;
    left: 260px;
    top: 50px;
  }

  .paregraph-4 {
    -border: 1px solid red;
    width: 95%;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: -1.5px;
    position: relative;
    top: 70px;
    left: 10px;
  }

  .logo_1 img {
    -border: 1px solid red;
    position: relative;
    top: 90px;
    left: 255px;
  }

  .name {
    -border: 1px solid red;
    position: relative;
    top: 90px;
    left: 250px;
  }

  .main4 {
    -border: 1px solid red;
    height: 430px;
  }

  .box3 {
    -border: 1px solid red;
    width: 100%;
    height: 100%;
  }

  .content1 {
    -border: 1px solid;
    margin: 0;
    margin-left: 25px;
    width: 95%;
    height: 100%;
  }

  .about {
    -border: 1px solid red;
    font-size: 12px;
    position: relative;
    top: 50px;
  }

  .paregraph-5 {
    -border: 1px solid;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: -2px;
    position: relative;
    top: 60px;
  }

  .paregraph-6 {
    -border: 1px solid red;
    font-size: 16px;
    width: 96%;
    line-height: 26px;
    position: relative;
    top: 70px;
  }

  .btn2 {
    position: relative;
    top: 80px;
  }

  .btn2:hover {
    position: relative;
    top: 80px;
  }

  .box4 {
    display: none;
  }

  .main5 {
    -border: 1px solid red;
    height: 395px;
    background-size: cover;
    width: 100%;
  }

  .head {
    -border: 1px solid red;
    font-size: 42px;
    position: relative;
    top: -10px;
  }

  .paregraph-7 {
    -border: 1px solid red;
    position: relative;
    left: 80px;
    width: 75%;
    top: -10px;
  }

  .btn3 {
    -border: 1px solid red;
    position: relative;
    left: 200px;
    top: -1px;
  }

  .btn3:hover {
    -border: 1px solid red;
    position: relative;
    left: 200px;
    top: -1px;
  }

  .footer {
    -border: 1px solid red;
    display: block;
    height: 250px;
  }

  .menu_1 {
    -border: 1px solid yellow;
    position: relative;
    top: 15px;
  }

  .menu_1 ul {
    -border: 1px solid red;
    justify-content: center;
  }

  .logo_2 {
    -border: 1px solid;
    position: relative;
    top: 15px;
    padding: 5px;
  }

  .logo_2 img {
    -border: 1px solid red;
    position: relative;
    left: 250px;
    top: 0;
  }

  .Nature {
    -border: 1px solid red;
    text-align: center;
    position: relative;
    top: 30px;
  }

  .Nature p {
    -border: 1px solid red;
    position: relative;
    top: -5px;
  }
}
